@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    font-family: Roboto;
    flex-direction: column;
    min-width: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style: none;    
}

img {
    max-width: 100%;
    height: auto;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    margin: 0 15%;
}

.header-text {
    flex: 1;
    font-size: 24px;
}

.section1 {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    flex-direction: column;
    padding: 0px 0px 100px 0px;    
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 50px 0px;
}

.header-text {
    flex: 1;
    font-size: 24px;    
}

.header-links {
    display: flex;
}

.links {
    display: flex;
    gap: 2rem;
}

.awesome-placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.awesome {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0px 40px 0px 0px;
    gap: 24px;
    justify-content: flex-start;
}

.one {
    font-size: 48px;
    color: #F9FaF8;
    font-weight: 900;
}

.two {
    font-size: 18px;
    color: #E5E7EB;
}

.three {
    border-radius: 15px;
    background-color: #3882F6;
    padding: 20px 50px;
    align-self: flex-start;
}

.placeholder {
    flex: 1;
}

.placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section2 {
    display: flex;
    color: #1F2937;
    flex-direction: column;
    margin: 50px 0px 100px 0px;
}

.header-section2 {
    flex: 1;
    font-size: 36px;
    text-align: center;
    align-self: flex-start;
    font-weight: 900;
    padding: 50px 0px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 64px;
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-object {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;    
    border-radius: 15px;
    border-color: #3882F6;
    border-width: 3px;
    border-style: solid;
    margin-bottom: 20px;
}

.card-text {
    width: 100%; 
    text-align: center;
}

.section3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 0px;
    margin: 50px 0px;
}

.quote {
    flex: 1;
    padding: 0px 0px 20px 0px;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.attr {
    flex: 1;
}

.attr-text {
    text-align: right;
    font-size: 24px;
    font-weight: 1000;   
}

.section4 {
    display: flex;
    background-color: #3882F6;
    padding: 100px 0px;
    margin: 50px 200px;
    border-radius: 15px;
    color: #F9FAF8;
    justify-content: space-around;
}

.cta {
    flex-direction: column;
    display: flex;
    flex: 4;
    gap: 16px;
    align-items: flex-start
}

.cta-header {
    font-size: 24px;
    color: #F9FAF8;
}

.cta-text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    flex-direction: column;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}

.sign-up-text {
    border-radius: 15px;
    background-color: #3882F6;
    padding: 20px 50px;
    align-self: flex-start;
    border-color: #F9FAF8;
    border-width: 3px;
    border-style: solid;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    gap: 128px;
    flex-wrap: wrap;
    flex: 1;
}